*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.bold-little{
    font-size: 0.8em;
    font-weight: bold;
}

/* header nav */
header{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
}

.h-nav{
    justify-content: flex-end;
    gap: 5px;
}

.spkr-w, .expnd{
    background-color: #484848;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2px;
    margin-right: 2px;
}

/* main */
main{
    background-color: #000;
    margin:50px 0px;
    color: #fff;
    width: 100vw;
    height: calc(100% - 130px);
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.usr{
    width: 300px;
    height: 200px;
    background-image: url(https://picsum.photos/300/200);
    align-items: flex-end;
}

.usr-info{
    background-color: #a0a0a0;
    padding: 5px;
}

/* footer */
footer{
    width: 100%;
    height: 80px;
    background-color: #222;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

footer .ft-nav{
    align-items: center;
    gap: 10px;
}

footer .fas{
    font-size: 30px;
}

footer .fas.fa-share-square{
    color: darkgreen;
}

footer .nav-left{
    width: 20%;
}

footer .nav-center{
    width: 60%;
    gap: 20px;
}

footer .btn-leave{
    background-color: #484848;
    width: 10%;
    height: 100%;
}

footer .btn-leave a{
    text-decoration: none;
    color: red;
}